@font-face {
    font-family: "Pretendard";
    src: url("../fonts/Pretendard-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard";
    src: url("../fonts/Pretendard-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SchoolSafetyRoundedSmile';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-R.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SchoolSafetyRoundedSmile';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;   
    padding-top: 40px;
}

body {
    font-family: "Pretendard", sans-serif;
    letter-spacing: 1px;
    margin: 0;
}

.nav a, .brand h3 {
    font-family: "SchoolSafetyRoundedSmile", sans-serif;
}

/* header */
.header {
    background: #42120E;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.gnb {
    display: flex;
    align-items: center;  
    justify-content: space-between;
    height: 80px;   
}
.gnb a {
    color: #FFEFD3;
}
.nav {
    display: flex;
    gap: 40px;  
}
.logo img {
    height: 40px; 
}

/* main */
.main-visual {
    width: 1200px;
    height: 520px; 
    margin: 40px auto;     /* 가운데 정렬 */
    overflow: hidden;
    border-radius: 24px;     /* ← 둥글게 */
    position: relative;
}

/* 슬라이드 */
.slides {
    display: flex;
    height: 100%;
    transition: transform 0.6s ease;
}

.slides img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 페이지네이션 */
.main-visual .pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.main-visual .dot {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.main-visual .dot.active {
    background: #42120E;
}




.menu,
.brand {
    text-align: center;
}

.menu {
    text-align: center;
}

.menu h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

/* 카드UI */
.menu {
    background-color: #FFEED2;
}
.new-title span {
    color: #F36F2C;
    font-family: "SchoolSafetyRoundedSmile", sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
}
.signature-title span {
    color: #42120E;
    font-family: "SchoolSafetyRoundedSmile", sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
}
.menu-cards {
    display: flex;
    gap: 20px;
    overflow: hidden; /* 캐러셀용 */
    transition: transform 0.4s ease;
}

.menu-card {
    min-width: 200px;
    text-align: center;
    background: #fff;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: transform 0.3s;
    margin-bottom: 100px;
}

.menu-card:hover {
    transform: translateY(-6px);
}

.menu-card img {
    width: 100%;
    height: auto;
}

.menu-name {
    margin-top: 12px;
    font-size: 15px;
    font-weight: 600;
    color: #42120E;
}
.menu-carousel {
    position: relative;
    display: flex;
    align-items: center;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  color: #42120E;
  padding: 0 10px;
}

.menu-btn:hover {
    opacity: 0.6;
}
.menu-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.menu-pagination .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ddd;
  cursor: pointer;
}

.menu-pagination .dot.active {
  background: #42120E;
}

.footer {
    background: #D6D6D6;
}